{% extends 'base.html' %} {% block title %}Restore Database From Local{%
endblock %} {% block content %}

<body class="bg-gray-100 text-gray-900 min-h-screen">
    <div class="container mx-auto mt-2 px-2">
        <!-- Action Buttons -->
        <div class="grid grid-cols-3 gap-3 items-center my-4">
            <div class="col-span-2 gap-3 flex items-center">
                <form action="/clear_data" method="POST"
                    onsubmit="return confirm('Are you sure you want to clear all data? This cannot be undone.');">
                    <button type="submit"
                        class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white font-semibold rounded-lg shadow-md"
                        disabled>
                        <i class="fas fa-trash-alt mr-2"></i> Clear All
                    </button>
                </form>
                <form action="/clear_table_employees" method="POST"
                    onsubmit="return confirm('Are you sure you want to clear all data in table: employees? This cannot be undone.');">
                    <button type="submit"
                        class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white font-semibold rounded-lg shadow-md">
                        <i class="fas fa-trash-alt mr-2"></i> Clear Employees
                    </button>
                </form>

                <div>
                    <form action="/clear_by_table_name" method="POST"
                        onsubmit="return confirm('Are you sure you want to clear all data in tables: leaves and user_leave? This cannot be undone.');">
                        <button type="submit"
                            class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white font-semibold rounded-lg shadow-md flex items-center">
                            <i class="fas fa-trash-alt mr-2"></i> Clear Data in Leaves
                        </button>
                    </form>
                </div>
            </div>

            <div>
                <p id="route-path"
                    class="text-blue-700 bg-gradient-to-r from-blue-200 via-blue-100 to-blue-200 px-3 py-2 rounded-lg shadow border-l-4 border-blue-600 font-medium tracking-wide select-none transition duration-300 hover:shadow-xl">
                    /data-management
                </p>
            </div>
        </div>

        <div class="max-w-8xl mx-auto p-4 bg-white shadow-lg rounded-lg">
            <h2 class="text-xl font-bold mb-4">Available Tables</h2>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for table in tables %}
                <div
                    class="bg-blue-100 border border-blue-300 rounded-lg shadow hover:shadow-lg transition duration-300 p-4">
                    <h3 class="text-lg font-semibold text-blue-900">{{ table }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}