venv/
build/
dist/
app.spec/
__pycache__/
**/__pycache__/
core/__pycache__/utils.cpython-36.pyc
core/__pycache__/version.cpython-36.pyc
core/actions/__pycache__/__init__.cpython-36.pyc
core/actions/__pycache__/action.cpython-36.pyc
database  
*.sqlite3
*.db

migrations/
instance/
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_Store
*.log
*.pot
*.pyc
.idea
.pytest_cache

.vscode
LearnDjango/__pycache__/
/LearnDjango/settings.py
LearnDjango/__pycache__/settings.cpython-36.pyc

