<!-- Attendance -->
<div class="relative z-10">
  <button @click="activeMenu = activeMenu === 'attendance-menu' ? '' : 'attendance-menu'"
    class="flex items-center hover:bg-gradient-to-r hover:from-indigo-600 hover:to-purple-600 p-2 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105">
    <span class="material-symbols-outlined">event</span>
    <span class="ml-2">Attendance</span>
    <span class="ml-2">&#9662;</span>
  </button>
  <div x-show="activeMenu === 'attendance-menu'" @click.away="activeMenu = ''"
    class="absolute top-full left-1/2 transform -translate-x-1/2 min-w-[250px] bg-gray-800 p-4 rounded-lg shadow-lg transition-all duration-300">

    <a href="/leaves/hrd"
      class="block p-2 hover:bg-gradient-to-r hover:from-indigo-600 hover:to-purple-600 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105">
      <span class="material-symbols-outlined">filter_alt</span>
      <span>Leave Approval</span>
    </a>
  </div>
</div>