
  {% extends 'base.html' %} {% block title %}Employees{% endblock %} {% block
  content %}

  <body class="bg-gray-100 font-sans antialiased">
    <!-- Container for content -->
    <div class="max-w-4xl mx-auto py-6 px-4">
      <!-- Heading -->
      <h1 class="text-3xl font-semibold text-gray-900 mb-6">Roles</h1>

      <!-- Create New Role Button -->
      <div class="mb-4">
        <a
          href="{{ url_for('create_role') }}"
          class="inline-block px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition duration-300"
        >
          Create New Role
        </a>
      </div>

   

      <!-- Table for roles -->
      <div class="overflow-x-auto bg-white shadow-lg rounded-lg">
        <table class="min-w-full table-auto">
          <thead class="bg-gray-800 text-white">
            <tr>
              <th class="px-4 py-2 text-left">ID</th>
              <th class="px-4 py-2 text-left">UserID</th>
             
              <th class="px-4 py-2 text-left">Status</th>
              <th class="px-4 py-2 text-left">Description</th>
              <th class="px-4 py-2 text-left">Actions</th>
            </tr>
          </thead>
          <tbody class="text-gray-800">
            {% for role in roles %}
            <tr class="border-b">
              <td class="px-4 py-2">{{ role['ID'] }}</td>
              <td class="px-4 py-2">{{ role['UserID'] }}</td>
            
              <td class="px-4 py-2">{{ role['Status'] }}</td>
              <td class="px-4 py-2">{{ role['Description'] }}</td>
              <td class="px-4 py-2 flex space-x-2">
                <!-- Edit Link -->
                <a
                  href="{{ url_for('update_role', role_id=role['ID']) }}"
                  class="text-blue-600 hover:text-blue-800"
                >
                  Edit
                </a>
                <!-- Delete Form -->
                <form
                  action="{{ url_for('delete_role', role_id=role['ID']) }}"
                  method="POST"
                  class="inline-block"
                >
                  <button type="submit" class="text-red-600 hover:text-red-800">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

{% endblock %}

