{% extends 'base.html' %} {% block title %}Add Leave{% endblock %} {% block
content %}

<body>
    <h1 class="text-3xl font-bold mb-4">Public Holidays</h1>
    <ul class="list-none p-0">
        {% for holiday in holidays %}
        <li class="mb-1 p-2 border border-gray-300 rounded">
            {{ holiday.label }} - {{ holiday.value }}
        </li>
        {% endfor %}
    </ul>

    <p class="text-gray-600">There are {{ holiday_labels|length }} holidays in the list.</p>

    <!-- <a href="/add_holiday">Add a New Holiday</a> -->
</body>

{% endblock %}