{% extends 'base.html' %} {% block title %}Add Leave Days{% endblock %} {% block
content %}

<head>
  <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100 flex justify-center items-center min-h-screen">
  <!-- Modal -->
  <div id="leaveModal" class="fixed inset-0 flex items-center justify-center bg-gray-500/75 transition-opacity z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold">ពាក្យសុំច្បាប់ឈប់សម្រាក {{ current_user.branch }}</h2>
        <button type="button" onclick="closeModal()" class="text-gray-500 hover:text-gray-800">
          &times;
        </button>
      </div>

      <form method="POST" action="{{ url_for('add_leave_days_hq',  branch=branch) }}" class="space-y-4">
        <div>
          <label for="branch" class="hidden">Branch</label>
          <input type="text" id="branch" name="branch" value="{{ current_user.branch }}" hidden
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
        </div>

        <div>
          <label for="requested_from" class="hidden">
            Requested From
          </label>
          <input type="text" id="requested_from" name="requested_from" required value="{{ current_user.department }}"
            hidden
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
        </div>

        <div>
          <label for="requested_by_roles" class="hidden">Requested By Roles</label>
          <input type="text" id="requested_by_roles" name="requested_by_roles" hidden
            value="{{ current_user.role_default }}"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
        </div>
        <div>
          <label for="employee_id" class="hidden">Employee</label>
          <input type="text" id="employee_id" name="employee_id" value="{{ current_user.employee_id }}" hidden
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
        </div>

        <div>
          <label for="requested_by" class="hidden">Requested By</label>
          <input type="text" id="requested_by" name="requested_by" hidden value="{{ current_user.username }}"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
        </div>

        <div class="mb-4">
          <label for="leave_type" class="block text-gray-700 text-sm font-medium">
            ប្រភេទនៃការឈប់សម្រាក (Types of Leave):
          </label>
          <select id="leave_type" name="leave_type"
            class="mt-2 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
            <option value="annualLeave">
              ការឈប់សម្រាកប្រចាំឆ្នាំ (Annual Leave)
            </option>
            <option value="sickLeave">ការឈប់សម្រាកដោយជម្ងឺ (Sick Leave)</option>
            <option value="maternityLeave">
              ការឈប់សម្រាកលំហែមាតុភាព (Maternity Leave)
            </option>
            <option value="specialLeave">
              ការឈប់សម្រាកពិសេស (Special Leave)
            </option>
          </select>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">


          <!-- Start Date with Icon -->
          <div class="relative">
            <label for="start_date" class="block text-sm font-medium text-gray-700">ពីថ្ងៃទី (From
              Date)</label>
            <div class="relative">
              <input type="text" id="start_date" name="start_date" required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm pl-10 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
              <!-- Calendar Icon -->
              <span class="absolute inset-y-0 left-2 flex items-center text-gray-500 pointer-events-none">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
          </div>

          <!-- End Date with Icon -->
          <div class="relative">
            <label for="end_date" class="block text-sm font-medium text-gray-700">រហូតដល់ថ្ងៃទី (To Date)</label>
            <div class="relative">
              <input type="text" id="end_date" name="end_date" required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm pl-10 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
              <!-- Calendar Icon -->
              <span class="absolute inset-y-0 left-2 flex items-center text-gray-500 pointer-events-none">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </div>



        <div>
          <label for="user_ids" class="block text-gray-700 text-sm font-medium">Assign to Users:</label>

          <!-- Buttons to select and deselect all options -->
          <div class="mb-2">
            <button type="button" onclick="selectAll()"
              class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 text-sm">
              <i class="fas fa-check-square mr-1"></i> Select All
            </button>
            <button type="button" onclick="deselectAll()"
              class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75 ml-2 text-sm">
              <i class="fas fa-square mr-1"></i> Deselect All
            </button>
          </div>



          <!-- Users Checkbox Group 1 -->
          <fieldset class="mt-2 mb-2 border-t border-b border-gray-300 shadow-lg p-4 rounded-lg">
            <legend class="text-md font-semibold text-blue-600">Short Leaves (2 Days):</legend>
            <div class="grid grid-cols-2 gap-6">
              {% for user in users2 %}
              <div class="flex items-center space-x-3 hover:bg-gray-50 p-2 rounded-md transition-colors">
                <input type="checkbox" name="user_ids" value="{{ user.id }}" id="user1_{{ user.id }}"
                  class="form-checkbox h-5 w-5 text-blue-600 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500">
                <label for="user1_{{ user.id }}"
                  class="text-lg text-gray-700 cursor-pointer transition-colors hover:text-blue-600">{{
                  user.username
                  }}</label>
              </div>
              {% endfor %}
            </div>
          </fieldset>

          <!-- Combined Users Checkbox Group -->
          <fieldset class="mt-2 mb-2 border-t border-b border-gray-300 shadow-lg p-4 rounded-lg">
            <legend class="text-md font-semibold text-green-600">Medium Leaves (3-5 Days):</legend>
            <div class="grid grid-cols-2 gap-4">
              {% for user in users2 %}
              <div class="flex items-center space-x-3 hover:bg-gray-50 p-2 rounded-md transition-colors">
                <input type="checkbox" name="user_ids" value="{{ user.id }}" id="user3_{{ user.id }}"
                  class="form-checkbox h-5 w-5 text-green-600 border-gray-300 rounded-md focus:ring-2 focus:ring-green-500">
                <label for="user3_{{ user.id }}"
                  class="text-lg text-gray-700 cursor-pointer transition-colors hover:text-green-600">{{ user.username
                  }}</label>
              </div>
              {% endfor %}

              {% for user in users4 %}
              <div class="flex items-center space-x-3 hover:bg-gray-50 p-2 rounded-md transition-colors">
                <input type="checkbox" name="user_ids" value="{{ user.id }}" id="user4_{{ user.id }}"
                  class="form-checkbox h-5 w-5 text-green-600 border-gray-300 rounded-md focus:ring-2 focus:ring-green-500">
                <label for="user4_{{ user.id }}"
                  class="text-lg text-gray-700 cursor-pointer transition-colors hover:text-green-600">{{ user.username
                  }}</label>
              </div>
              {% endfor %}
            </div>
          </fieldset>
          <!-- Combined Users Checkbox Group -->
          <fieldset class="mt-2 mb-2 border-t border-b border-gray-300 shadow-lg p-4 rounded-lg">
            <legend class="text-md font-semibold text-green-600">Long Leaves (≥ 6 days):</legend>
            <div class="grid grid-cols-2 gap-4">
              {% for user in users2 %}
              <div class="flex items-center space-x-3 hover:bg-gray-50 p-2 rounded-md transition-colors">
                <input type="checkbox" name="user_ids" value="{{ user.id }}" id="user3_{{ user.id }}"
                  class="form-checkbox h-5 w-5 text-green-600 border-gray-300 rounded-md focus:ring-2 focus:ring-green-500">
                <label for="user3_{{ user.id }}"
                  class="text-lg text-gray-700 cursor-pointer transition-colors hover:text-green-600">{{ user.username
                  }}</label>
              </div>
              {% endfor %}

              {% for user in users4 %}
              <div class="flex items-center space-x-3 hover:bg-gray-50 p-2 rounded-md transition-colors">
                <input type="checkbox" name="user_ids" value="{{ user.id }}" id="user4_{{ user.id }}"
                  class="form-checkbox h-5 w-5 text-green-600 border-gray-300 rounded-md focus:ring-2 focus:ring-green-500">
                <label for="user4_{{ user.id }}"
                  class="text-lg text-gray-700 cursor-pointer transition-colors hover:text-green-600">{{ user.username
                  }}</label>
              </div>
              {% endfor %}
            </div>
          </fieldset>





          <div>
            <label for="reason" class="block text-gray-700 text-sm font-medium">មូលហេតុនៃការសុំឈប់សម្រាក (Reason for
              Leave):</label>
            <textarea name="reason" required placeholder="250 words"
              class="w-full p-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white text-gray-800 resize-none placeholder-gray-500"></textarea>
          </div>



          <div class="flex justify-between gap-4">
            <button type="submit"
              class="w-1/2 bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 flex items-center justify-center">
              <i class="fas fa-paper-plane mr-2"></i> Submit
            </button>
            <a href="{{ url_for('view_leaves') }}"
              class="w-1/2 bg-gray-500 text-white py-2 rounded-lg hover:bg-gray-600 flex items-center justify-center">
              <i class="fas fa-arrow-left mr-2"></i> Back
            </a>
          </div>
      </form>

      {% if excluded_days is defined and final_end_date is defined %}
      <div class="mt-6 p-4 bg-green-50 border border-green-300 rounded">
        <p><strong>Excluded Days:</strong> {{ excluded_days }}</p>
        <p><strong>Final End Date:</strong> {{ final_end_date }}</p>
      </div>
      {% endif %}
    </div>
  </div>

  <script>
    function closeModal() {
      document.getElementById("leaveModal").classList.add("hidden");
      window.location.href = "{{ url_for('view_leaves') }}"; // Redirect after closing the modal
    }

    // Function to select all checkboxes
    function selectAll() {
      const checkboxes = document.querySelectorAll('input[name="user_ids"]');
      checkboxes.forEach((checkbox) => {
        checkbox.checked = true; // Set all checkboxes to checked
      });
      updateSelectAllButton(); // Update Select All button state
    }

    // Function to deselect all checkboxes
    function deselectAll() {
      const checkboxes = document.querySelectorAll('input[name="user_ids"]');
      checkboxes.forEach((checkbox) => {
        checkbox.checked = false; // Set all checkboxes to unchecked
      });
      updateSelectAllButton(); // Update Select All button state
    }

    // Function to update the Select All button state based on checkboxes
    function updateSelectAllButton() {
      const checkboxes = document.querySelectorAll('input[name="user_ids"]');
      const selectAllButton = document.querySelector(
        'button[onclick="selectAll()"]'
      );
      const checkedCheckboxes = Array.from(checkboxes).filter(
        (checkbox) => checkbox.checked
      );

      // If all checkboxes are checked, change Select All button to unselect all
      if (checkedCheckboxes.length === checkboxes.length) {
        selectAllButton.innerHTML =
          '<i class="fas fa-check-square mr-2"></i> Deselect All';
      } else {
        selectAllButton.innerHTML =
          '<i class="fas fa-check-square mr-2"></i> Select All';
      }
    }
  </script>

  <script>
    flatpickr("#start_date", {
      dateFormat: "Y-m-d",
      minDate: "today", // Optional: Disable past dates
      maxDate: new Date().fp_incr(365), // Optional: Enable a year range
    });

    flatpickr("#end_date", {
      dateFormat: "Y-m-d",
      minDate: "today", // Optional: Disable past dates
      maxDate: new Date().fp_incr(365), // Optional: Enable a year range
    });
  </script>
</body>
{% endblock %}