{% extends 'base.html' %} {% block title %}SPM Approved{% endblock %} {% block
content %}
<div class="bg-gray-100 text-gray-800">


  <!-- Main Content -->
  <div class="container mx-auto mt-2 px-4">


    <div class="grid grid-cols-2 gap-2 items-center my-2">
      <!-- Print Button -->
      <div class="flex items-start gap-x-4">

        <!-- Branch Selection Form -->
        <form method="get" action="{{ url_for('leaves_by_branch_and_spm') }}" class="mb-4">
          <label for="branch_name" class="text-sm text-gray-600">Filter Branch:</label>
          <select name="branch_name" id="branch_name" onchange="this.form.submit()"
            class="ml-2 p-2 border rounded-md text-gray-700">
            <option value="All" {% if branch_name=='All' %}selected{% endif %}>All Branches</option>
            {% for branch in branches_in_zone %}
            <option value="{{ branch.Branch }}" {% if branch_name==branch.Branch %}selected{% endif %}>
              {{ branch.Branch }}
            </option>
            {% endfor %}
          </select>
        </form>
        <button onclick="printSelectedLeaves()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center">
          <i class="fas fa-print mr-2"></i> Print
        </button>
      </div>
      <div>
        <p id="route-path"
          class="text-blue-700 bg-gradient-to-r from-blue-200 via-blue-100 to-blue-200 px-2 py-2 rounded-lg shadow-lg border-l-8 border-blue-600 text-md font-semibold tracking-wide uppercase select-none transition duration-300 hover:shadow-xl hover:border-blue-800">
        </p>

      </div>

    </div>






    <!-- Leaves Table -->
    <div class="overflow-x-auto bg-white shadow-lg rounded-md border border-gray-300">
      <table id="leaveTable" class="min-w-full text-sm text-left border-collapse">
        <thead class="bg-gray-200 text-gray-700">
          <tr>
            <th class="px-6 py-3 border-b">EmployeeName</th>
            <th class="px-6 py-3 border-b">Branch</th>
            <th class="px-6 py-3 border-b">LeaveType</th>
            <th class="px-10 py-3 border-b">StartDate</th>
            <th class="px-10 py-3 border-b">EndDate</th>
            <th class="px-6 py-3 border-b">LeaveHours</th>
            <th class="px-6 py-3 border-b">ServiceCount</th>
            <th class="px-6 py-3 border-b">TypeOfLeave</th>
            <th class="px-6 py-3 border-b">VerifiedBy</th>
            <th class="px-6 py-3 border-b">ApprovedBy</th>
            <th class="px-6 py-3 border-b">RequestedBy</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b">
              Reason
            </th>
            <th class="px-6 py-3 border-b">RequestedByRoles</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b">
              Status
            </th>
            <th class="px-6 py-3 border-b">Action</th>
          </tr>
        </thead>
        <tbody class="text-gray-600">
          {% for leave in leaves %}
          <tr class="border-t">
            <td class="px-6 py-3 border-b">{{ leave.employee_name }}</td>
            <td class="px-6 py-3 border-b">{{ leave.branch_name }}</td>
            <td class="px-6 py-3 border-b">{{ leave.leave_type }}</td>
            <!-- Formatted Start Date -->
            <td class="px-10 py-3 border-b leave-start-date" data-start="{{ leave.start_date }}"
              style="min-width: 180px"></td>
            <!-- Formatted End Date -->
            <td class="px-10 py-3 border-b leave-end-date" data-end="{{ leave.end_date }}" style="min-width: 180px">
            </td>
            <td class="px-6 py-3 border-b">{{ leave.leave_hours }} hours</td>
            <td class="px-6 py-3 border-b">{{ leave.service_count }} day</td>
            <td class="px-6 py-3 border-b">{{ leave.type_of_leave }}</td>
            <td class="px-6 py-3 border-b">{{ leave.verified_by }}</td>
            <td class="px-6 py-3 border-b">{{ leave.approved_by }}</td>
            <td class="px-6 py-3 border-b">{{ leave.requested_by }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b">
              <b>{{ leave.reason }}</b>
            </td>
            <td class="px-6 py-3 border-b">
              {{ leave.requested_by_roles }}
            </td>

            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 border-b">
              <span
                class="{% if leave.status == 'Approved' %}text-green-500{% elif leave.status == 'Pending' %}text-blue-500{% else %}text-red-500{% endif %}">
                <b>{{ leave.status }}</b>
              </span>
            </td>
            <!-- <td class="px-6 py-4 whitespace-nowrap text-sm font-medium border-b">
              {% if leave.type_of_leave == 'T' %}
              <a href="{{ url_for('edit_leave', id=leave.id) }}"
                class="text-blue-600 hover:text-blue-900 flex items-center space-x-1">
                <i class="fas fa-edit mr-1"></i> Edit
              </a>
              {% elif leave.type_of_leave == 'D' %}
              <a href="{{ url_for('edit_leave_spm_approve', id=leave.id) }}"
                class="text-blue-600 hover:text-blue-900 flex items-center space-x-1">
                <i class="fas fa-edit mr-1"></i> Edit
              </a>
              {% endif %}
            </td>
          </tr> -->

            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium border-b">
              {% if leave.type_of_leave == 'T' %}
              <a href="{{ url_for('edit_leave', id=leave.id) }}"
                class="text-blue-600 hover:text-blue-900 flex items-center space-x-1">
                <i class="fas fa-edit mr-1"></i> Edit
              </a>
              {% elif leave.type_of_leave == 'D' %}
              {% if leave.requested_by_roles == 140 %}
              <a href="{{ url_for('edit_leave_spm_to_pm_approve', id=leave.id) }}"
                class="text-blue-600 hover:text-blue-900 flex items-center space-x-1">
                <i class="fas fa-edit mr-1"></i> Edit
              </a>
              {% else %}
              <a href="{{ url_for('edit_leave_spm_approve', id=leave.id) }}"
                class="text-blue-600 hover:text-blue-900 flex items-center space-x-1">
                <i class="fas fa-edit mr-1"></i> Edit
              </a>
              {% endif %}
              {% endif %}
            </td>

            {% else %}
          <tr>
            <td colspan="13" class="px-6 py-3 text-center text-gray-500 border-b">
              No leaves found.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Initialize DataTable -->
  <script>
    $(document).ready(function () {
      $("#leaveTable").DataTable({
        paging: true, // Enables pagination
        searching: true, // Enables the search box
        ordering: true, // Enables sorting
        responsive: true, // Makes the table responsive for smaller screens
        order: [[3, "asc"]], // Default sorting by Start Date (3rd column)
        scrollX: true, // Enable horizontal scrolling
        scrollCollapse: true,
        paging: true,
        searching: true,
        ordering: true,
        responsive: false,
        order: [[3, "asc"]],
        fixedColumns: {
          leftColumns: 2, // Fix first 2 columns (like EmployeeName and Branch)
          rightColumns: 2, // Fix last 2 columns (like Reason and Status)
        },
        drawCallback: function () {
          formatLeaveDatesAndHours();
        },
      });


      function formatLeaveDatesAndHours() {
        $(".leave-start-date").each(function () {
          var startDate = $(this).data("start");
          var formattedStartDate =
            moment(startDate).format("MM-DD-YYYY hh:mm A");
          $(this).text(formattedStartDate);
        });

        $(".leave-end-date").each(function () {
          var endDate = $(this).data("end");
          var formattedEndDate = moment(endDate).format("MM-DD-YYYY hh:mm A");
          $(this).text(formattedEndDate);
        });

        $(".leave-hours").each(function () {
          var startDate = $(this).data("start");
          var endDate = $(this).data("end");

          var startTime = moment(startDate);
          var endTime = moment(endDate);

          if (startTime.isValid() && endTime.isValid()) {
            var duration = moment.duration(endTime.diff(startTime));
            var totalHours = duration.asHours();

            // Subtract lunch overlap
            var lunchStart = moment(startDate).hour(12).minute(0).second(0);
            var lunchEnd = moment(startDate).hour(13).minute(30).second(0);

            var overlapStart = moment.max(startTime, lunchStart);
            var overlapEnd = moment.min(endTime, lunchEnd);

            if (overlapEnd.isAfter(overlapStart)) {
              var lunchOverlap = moment
                .duration(overlapEnd.diff(overlapStart))
                .asHours();
              totalHours -= lunchOverlap;
            }

            totalHours = Math.max(totalHours, 0);
            var displayHours = totalHours.toFixed(1) + " H";

            $(this).text(displayHours);
          } else {
            $(this).text("Invalid dates");
          }
        });
      }

      // Format the Start and End Dates using Moment.js
      $(".leave-start-date").each(function () {
        var startDate = $(this).data("start");
        var formattedStartDate = moment(startDate).format("MM-DD-YYYY");
        $(this).text(formattedStartDate);
      });

      $(".leave-end-date").each(function () {
        var endDate = $(this).data("end");
        var formattedEndDate = moment(endDate).format("MM-DD-YYYY");
        $(this).text(formattedEndDate);
      });
    });
  </script>
</div>
{% endblock %}