{% extends 'base.html' %} {% block title %}Add Leave{% endblock %} {% block
content %}
<body class="bg-gray-100 flex justify-center items-center min-h-screen">
  <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-lg">
    <h2 class="text-2xl font-bold mb-4 text-center">Add Multiple Leaves</h2>
    <form
      method="POST"
      action="{{ url_for('add_many_leave') }}"
      class="space-y-4"
    >
      <div>
        <label for="employee_id" class="hidden">Employee</label>
        <input
          type="text"
          id="employee_id"
          name="employee_id"
          value="{{ current_user.employee_id }}"
          hidden
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <div>
        <label for="requested_by" class="hidden">Requested By</label>
        <input
          type="text"
          id="requested_by"
          name="requested_by"
          hidden
          value="{{ current_user.username }}"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <div class="mb-4">
        <label for="leave_type" class="block text-gray-700 text-sm font-medium">
          Select Leave Type:
        </label>
        <select
          id="leave_type"
          name="leave_type"
          class="mt-2 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        >
          <option value="annualLeave">Annual Leave</option>
          <option value="sickLeave">Sick Leave</option>
          <option value="maternityLeave">Maternity Leave</option>
          <option value="specialLeave">Special Leave</option>
        </select>
      </div>

      <div>
        <label for="start_date" class="block font-medium">Start Date:</label>
        <input
          type="date"
          name="start_date"
          required
          class="w-full p-2 border rounded-lg"
        />
      </div>

      <div>
        <label for="end_date" class="block font-medium">End Date:</label>
        <input
          type="date"
          name="end_date"
          required
          class="w-full p-2 border rounded-lg"
        />
      </div>

      <div>
        <label for="reason" class="block font-medium">Reason:</label>
        <textarea
          name="reason"
          required
          class="w-full p-2 border rounded-lg"
        ></textarea>
      </div>

      <div>
        <label for="user_ids" class="block font-medium">Assign to Users:</label>
        <!-- Buttons to select and deselect all options -->
        <div class="mb-2">
          <button required type="button" onclick="selectAll()">
            Select All
          </button>
          <button type="button" onclick="deselectAll()">Deselect All</button>
        </div>
        <select
          id="user_ids"
          name="user_ids"
          multiple
          required
          class="w-full p-2 border rounded-lg"
        >
          {% if users %}
          <option value="" selected disabled hidden>Select All</option>
          {% for user in users %}
          <option value="{{ user.id }}">{{ user.username }}</option>
          {% endfor %} {% else %}
          <option value="" disabled>No Users Available</option>
          {% endif %}
        </select>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600"
      >
        Submit
      </button>
    </form>
  </div>

  <script>
    // Function to select all options
    function selectAll() {
      const selectBox = document.getElementById("user_ids");
      for (let i = 0; i < selectBox.options.length; i++) {
        selectBox.options[i].selected = true;
      }
    }

    // Function to deselect all options
    function deselectAll() {
      const selectBox = document.getElementById("user_ids");
      for (let i = 0; i < selectBox.options.length; i++) {
        selectBox.options[i].selected = false;
      }
    }
  </script>
</body>
{% endblock %}
