{% extends 'base.html' %}

{% block title %}Leave Records{% endblock %}

{% block content %}

<!-- Print Button -->
<div class=" flex justify-start mb-4 p-2 container bg-white mx-auto p-1 text-gray-800 print:hidden">
    <div class="space-x-2 ml-4 mr-4">
        <a href="{{ url_for('view_leaves') }}"
            class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded flex items-center">
            <i class="fas fa-arrow-left mr-2"></i> Back
        </a>
    </div>
    <button onclick="window.print()"
        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center space-x-2">
        <span class="material-symbols-outlined">print</span>
        Print
    </button>
</div>

<!-- Wrap printable content -->
<div class="print-area">
    <div class="container bg-white mx-auto p-1 text-gray-800">
        <h2 class="text-2lg font-bold text-center text-gray-800 mb-1 print:text-2xl">
            ពាក្យសុំច្បាប់ឈប់សម្រាក

        </h2>
        <h4 class="text-2md font-bold text-center text-gray-800 mb-1 print:text-2xl">

            APPLICATION FORM FOR LEAVE
        </h4>

        <h3 class="text-2md font-semibold  text-center">
            ច្បាប់សំរាកលម្អិតសម្រាប់ (Leave Details for): {{ leave.employee_name }}
        </h3>

        <!-- Employee Information Section -->
        <div class="bg-white p-4 print:break-inside-avoid" style="font-size: 11px;">
            <h3 class="text-2md font-bold text-gray-800 mb-1">
                ព័ត៌មានបុគ្គលិក ( Employee Information )
            </h3>
            <hr class="border-gray-300">
            <div class="grid grid-cols-2 gap-1 leading-relaxed">
                <p><strong>គោត្តនាម និងនាម ( Name ):</strong> {{ leave.employee_name }}</p>
                <p><strong>បម្រើការងារនៅ (Duty Station):</strong> {{ leave.branch_name }}</p>
            </div>
        </div>


        <!-- Leave Time Section -->
        <div class="bg-white p-4 print:break-inside-avoid" style="font-size: 11px;">
            <h4 class="ttext-md font-bold text-gray-800 ">
                ពត៌មានរយៈពេលនៃការឈប់សម្រាក ( Leave Time Information)
            </h4>
            <hr class="border-gray-300">
            <div class="grid grid-cols-2 gap-1 leading-relaxed">
                <p><strong>ប្រភេទនៃការឈប់សម្រាក (Types of Leave) :</strong> {{ leave.leave_type }}</p>
                <p><strong>សំណើសុំឈប់សម្រាកពីថ្ងៃទី (From Date):</strong> {{ leave.start_date }}</p>
                <p><strong>រហូតដល់ថ្ងៃទី ( To Date ):</strong> {{ leave.end_date }}</p>
                <!-- <p><strong>Status:</strong> {{ leave.status }}</p> -->
                <p><strong>មូលហេតុនៃការសុំឈប់សម្រាក ( Reason for Leave ):</strong> {{ leave.reason }}</p>
                <p><strong>ស្នើដោយ ( Requested by ):</strong> {{ leave.requested_by }}</p>
                <p><strong>ការឈប់សម្រាកសរុប ( Total Leave ):</strong> {{ leave.service_count }} {{ "Day" if
                    leave.service_count == 1 else
                    "Days" }}</p>
            </div>
        </div>

        <!-- Approver Information Section -->
        <div class="bg-white p-4 print:break-inside-avoid" style="font-size: 11px;">
            <h4 class="text-md font-bold text-gray-800 mb-1">
                ពត៌មានអ្នកស្នើសុំ និង អ្នកអនុម័ត ( Requester and Approver Information )
            </h4>
            <hr class="border-gray-300">
            <div class="grid grid-cols-1 gap-1 leading-relaxed mb-1">
                <p><strong>ស្នើដោយ ( Requested by ):</strong> {{current_user.username or 'Not Approved' }}</p>
                <p><strong>ពិនិត្យដោយ ( Verified by ):</strong> {{ leave.verified_by or 'Not Verified' }}</p>
                <p><strong>អនុញ្ញាតដោយ ( Approved by ):</strong> {{ leave.approved_by or 'Not Approved' }}</p </div>
            </div>
            <br>
            <div class="text-md p-1 bg-white justify-center">
                <h3 class="text-md font-semibold text-gray-700 mb-1">
                    ពត៌មានអ្នកប្រើប្រាស់ដែលពាក់ព័ន្ធជាមួយនឹងច្បាប់សំរាកចេញនេះ ( Users Associated with this Leave
                    Information)
                </h3>
                <hr class="border-gray-300">

                {% if users %}
                <ul class="grid grid-cols-3 gap-1 leading-relaxed">
                    {% for user in users %}
                    <!-- <li class="flex items-center space-x-4">
                    
                        <div class="font-semibold text-gray-700">
                            <span>ឈ្មោះ (Name):</span> {{ user.UserName }}
                        </div>

                      
                        <div>
                            {% if user.Signature %}
                            <div class="flex items-center space-x-2">
                                <span>Signature:</span>
                                <img src="data:image/png;base64,{{ user.Signature }}" alt="Signature"
                                    class="h-16 w-16 object-contain" />
                            </div>
                            {% else %}
                            <span class="text-gray-500">No Signature</span>
                            {% endif %}
                        </div>
                    </li> -->
                    <li class="flex flex-col items-start space-y-1 p-1 ">


                        <!-- Signature Section -->
                        <div>
                            {% if user.Signature %}
                            <div class="flex items-center space-x-2">
                                <!-- <span>Signature:</span> -->
                                <img src="data:image/png;base64,{{ user.Signature }}" alt="Signature"
                                    class="h-24 w-24 object-contain" />
                            </div>
                            {% else %}
                            <span class="text-gray-500">No Signature</span>
                            {% endif %}
                        </div>
                        <!-- User Name Section -->
                        <div class="font-semibold text-gray-700">
                            <span>ឈ្មោះ (Name):</span> {{ user.UserName }}<br>
                        </div>
                    </li>

                    {% endfor %}
                </ul>

                {% else %}
                <p class="text-gray-600">No users associated with this leave.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Print-only styles -->
    <style>
        @media print {
            body * {
                visibility: hidden;
            }

            .print-area,
            .print-area * {
                visibility: visible;
            }

            .print-area {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: inherit;
                margin: 0px;
            }

            .print\:hidden {
                display: none !important;
            }

            table {
                width: 100%;
                border-spacing: 0;
            }

            th,
            td {
                padding: 0px;
                text-align: left;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            .bg-white {
                background-color: #ffffff;
            }

            .text-gray-800 {
                color: #2d3748;
            }
        }
    </style>

    {% endblock %}
</div>