html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    font-family: "Roboto", sans-serif;
    background-color: #F3F4F6;
}

.container {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}