<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Dashboard{% endblock %}</title>
  {% include 'partials/head_assets.html' %}
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable({{ branch_chart_data| safe }});

    var options = {
      title: "Employee Distribution by Branch",
      pieHole: 0.4,
      chartArea: { width: "80%", height: "70%" },
    };

    var chart = new google.visualization.PieChart(document.getElementById("branchChart"));
    chart.draw(data, options);
                                  }
  </script>
</head>

{% include 'partials/main_header.html' %}

<div x-data="{ activeMenu: '' }">
  <!-- Navigation Menu -->
  <nav class="flex space-x-6 text-white bg-gradient-to-r from-indigo-500 via-purple-600 to-pink-600 p-1 shadow-lg">

    <!-- Menu General -->
    {% include "partials/dashboard_menu.html" %}
    <!-- Menu Admin-->
    {% if current_user.is_admin == 1 %}
    {% include "partials/admin_menus.html" %}
    <!-- {% include "partials/payroll_menu.html" %} -->
    <!-- {% include "partials/media_menu.html" %} -->
    <!-- {% include "partials/chat_menu.html" %} -->
    {% endif %}

    <!-- Menu EM -->
    {% if current_user.role_default == 20 %}
    {% include "partials/employee_menu.html" %}
    {% endif %}

    <!-- Menu CCC  -->
    {% if current_user.role_default == 35 %}
    {% include "partials/ccc_menus.html" %}
    {% include "partials/ccc_request_menu.html" %}
    <!-- {% include "partials/chat_menu.html" %} -->

    {% endif %}

    <!-- Menu PM -->
    {% if current_user.role_default == 140 %}
    {% include "partials/pm_menus.html" %}
    {% include "partials/pm_request_menu.html" %}
    {% endif %}

    <!-- Menu SPM -->
    {% if current_user.role_default == 145 %}
    {% include "partials/spm_menus.html" %}
    {% endif %}




    <!-- Menu SPM -->
    {% if current_user.role_default == 160 %}
    {% include "partials/hrd_menus.html" %}
    {% endif %}


    <!-- Menu GM -->
    {% if current_user.role_default == 180 %}
    {% include 'partials/gm_menu.html' %}
    {% endif %}

    <!-- Menu General -->
    {% include "partials/settings_menu.html" %}

  </nav>
</div>

<body class="flex flex-col h-[calc(100vh-300px)] over">
  <div class="flex-2 flex h-[100vh]">
    <!-- Sidebar -->

    <!-- Main Content -->
    <div class="flex-1 p-0 h-[calc(100vh-148px)] overflow-x-auto overflow-y-scroll ">
      <main>{% block content %}{% endblock %}</main>
    </div>
  </div>



  <script>
    // Get elements for notification button and dropdown
    const notificationButton = document.querySelector(".notification-button");
    const notificationDropdown = document.querySelector(
      ".notification-dropdown"
    );

    // Toggle notification dropdown visibility when clicked
    notificationButton.addEventListener("click", () => {
      notificationDropdown.classList.toggle("hidden");
    });

    // Optionally, you can close the notification dropdown if clicking outside
    document.addEventListener("click", (event) => {
      if (
        !notificationButton.contains(event.target) &&
        !notificationDropdown.contains(event.target)
      ) {
        notificationDropdown.classList.add("hidden");
      }
    });

    $(document).ready(function () {
      $("#logoutButton").click(function (event) {
        event.preventDefault(); // Prevent the form from submitting immediately
        // Custom confirmation message
        var userConfirmed = confirm(
          "Are you sure you want to logout?\nYou will be redirected to the login page."
        );
        if (userConfirmed) {
          // Submit the form if user confirms
          $(this).closest("form").submit();
        }
      });
    });
  </script>

  <script>
    function toggleMenu(id) {
      document.getElementById(id).classList.toggle("hidden");
    }

    if (localStorage.getItem("lang") === "km") {
      document.querySelector("[x-data]")._x_data.lang = "km";
    }

    // Set the system date to be in yyyy-mm-dd format
    const systemDate = new Date();
    const formattedDate = systemDate.toISOString().split("T")[0]; // Format as yyyy-mm-dd
    document.getElementById(
      "system-date"
    ).textContent = `Date: ${formattedDate}`;
  </script>

  <script>
    // Toggle visibility of menu items when the user clicks on a summary
    const detailsElements = document.querySelectorAll(".menu-item-toggle");

    detailsElements.forEach((detail) => {
      const summary = detail.querySelector("summary");
      const menuItems = detail.querySelector("ul");

      summary.addEventListener("click", () => {
        menuItems.classList.toggle("hidden");
      });
    });
  </script>

  <!-- <script>
    // Display the current path on the page
    document.getElementById('route-path').textContent = "Current path: " + window.location.pathname.toUpperCase();
  </script> -->

  <script>
    let path = window.location.pathname.toUpperCase();
    path = path.replace(/_/g, '/');  // Replace all underscores with slashes
    document.getElementById('route-path').textContent = "Title: " + path;
  </script>


  {% block scripts %}
  {% include 'partials/footer.html' %}
  {% endblock %}
</body>

</html>