{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}
<body class="bg-gray-50 font-sans text-gray-800">
  <!-- Fullscreen background image -->
  <div
    class="absolute top-0 left-0 w-full h-full bg-cover bg-center"
    style="background-image: url('{{ url_for('static', filename='images/your-image.jpg') }}'); z-index: -1;"
  ></div>

  <div class="flex justify-center items-center min-h-screen">
    <div
      class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md bg-opacity-80"
    >
      <h1 class="text-3xl font-semibold text-center text-blue-600 mb-6">
        Health Check
      </h1>

      <!-- Undraw Illustration -->
      <div class="mb-6">
        <img
          src="{{ url_for('static', filename='images/undraw_medicine_hqqg.svg') }}"
          alt="Health Check"
          class="mx-auto w-full object-cover"
          width="100"
          height="100"
        />
      </div>

      <div class="status-box text-center">
        <p class="text-lg">
          Status:
          <span
            class="{{ 'text-green-500 font-semibold' if status == 'healthy' else 'text-red-500 font-semibold' }}"
          >
            {{ status }}
          </span>
        </p>
      </div>
    </div>
  </div>
</body>
{% endblock %}
