{% extends 'base.html' %}

{% block title %}Employees{% endblock %}

{% block content %}


<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6">Add User</h2>

    

        <form action="{{ url_for('add_user') }}" method="POST" class="grid grid-cols-2 gap-4">
           
           
            <div>
                <label class="block text-gray-700">Username</label>
                <input type="text" name="username" required class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">Branch</label>
                <select name="branch" required class="w-full px-3 py-2 border rounded-md">
                    <option value="">Select a Branch</option>
                    {% for branch in branches %}
                    <option value="{{ branch['Branch'] }}" {% if selected_branch == branch['ID'] %}selected{% endif %}>{{ branch['Branch'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label class="block text-gray-700">Password</label>
                <input type="password" name="password" required class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">Email</label>
                <input type="email" name="email" required class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">Mobile Number</label>
                <input type="text" name="mobile1" required class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">First Name (Khmer)</label>
                <input type="text" name="first_name_kh"  class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">Last Name (Khmer)</label>
                <input type="text" name="last_name_kh"  class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">First Name (English)</label>
                <input type="text" name="first_name_en"  class="w-full px-3 py-2 border rounded-md">
            </div>

            <div>
                <label class="block text-gray-700">Last Name (English)</label>
                <input type="text" name="last_name_en"  class="w-full px-3 py-2 border rounded-md">
            </div>

    
            <div class="flex items-center">
                <input type="checkbox" name="is_admin" value="1" class="mr-2">
                <label class="text-gray-700">Is Admin</label>
            </div>



            <div class="flex items-center space-x-2">
                <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-md flex items-center space-x-1">
                    <span class="material-symbols-outlined">send</span>
                    <span>Submit</span>
                </button>
                <a href="{{ url_for('list_users') }}" class="text-gray-500">
                    <button type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded flex items-center space-x-1">
                        <span class="material-symbols-outlined">cancel</span>
                        <span>Cancel</span>
                    </button>
                </a>
            </div>


    </div>
</body>





{% endblock %}