{% extends 'base.html' %} {% block title %}Add User{% endblock %} {% block
content %}
<body class="bg-gray-50 font-sans text-gray-900">
  <!-- Container -->
  <div class="max-w-4xl mx-auto p-8">
    <!-- Header -->
    <h1 class="text-3xl font-semibold text-center text-indigo-600 mb-8">
      User Profile
    </h1>

    <!-- User Details -->
    <div class="bg-white p-6 rounded-lg shadow-md mb-6">
      <h2 class="text-2xl font-bold text-indigo-600 mb-4">User Information</h2>
      <div class="space-y-4">
        <p>
          <strong class="text-indigo-500">Username:</strong> {{ user.username }}
        </p>
        <p><strong class="text-indigo-500">Email:</strong> {{ user.email }}</p>
        <p>
          <strong class="text-indigo-500">Mobile:</strong> {{ user.mobile1 }}
        </p>
        <p>
          <strong class="text-indigo-500">Full Name:</strong>
          {{ user['FirstNameEn'] }} {{ user['LastNameEn'] }}
        </p>
        <p>
          <strong class="text-indigo-500">Full Name (Khmer):</strong>
          {{ user['FirstNameKh'] }} {{ user['LastNameKh'] }}
        </p>
        <p>
          <strong class="text-indigo-500">Branch:</strong> {{ user.branch }}
        </p>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold text-indigo-600 mb-4">Profile Image</h2>
      <div class="flex justify-center">
        {% if user.image %}
        <img
          src="{{ url_for('get_user_image', user_id=user.id) }}"
          alt="User Profile Image"
          class="w-48 h-48 rounded-full object-cover shadow-md"
        />
        {% else %}
        <p class="text-center text-gray-500">No image found for this user.</p>
        {% endif %}
      </div>
    </div>

    <!-- Button to upload a new image -->
    <a
      href="{{ url_for('upload_user_image', user_id=user['id']) }}"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center space-x-2"
    >
      <i class="fas fa-camera"></i>
      <button>Change Profile Image</button>
    </a>
  </div>
</body>
{% endblock %}
