{% extends 'base.html' %} {% block title %}Roles{% endblock %} {% block content
%}
<div class="container mx-auto py-8 px-4">
  <label
    for="role_default"
    class="block text-lg font-semibold text-gray-800 mb-4"
  >
    Role List
  </label>
  <div class="overflow-x-auto bg-white shadow-lg rounded-lg">
    <table class="w-full table-auto border-collapse border border-gray-300">
      <thead class="bg-gray-200">
        <tr>
          <th
            class="px-6 py-3 text-sm font-medium text-left text-gray-600 uppercase tracking-wider"
          >
            Role ID
          </th>
          <th
            class="px-6 py-3 text-sm font-medium text-left text-gray-600 uppercase tracking-wider"
          >
            Role Name
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">1</td>
          <td class="px-6 py-4 text-sm text-gray-800">GUEST</td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">20</td>
          <td class="px-6 py-4 text-sm text-gray-800">Employee</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">25</td>
          <td class="px-6 py-4 text-sm text-gray-800">TELLER</td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">30</td>
          <td class="px-6 py-4 text-sm text-gray-800">CC</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">35</td>
          <td class="px-6 py-4 text-sm text-gray-800">CCC</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">140</td>
          <td class="px-6 py-4 text-sm text-gray-800">PMS</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">145</td>
          <td class="px-6 py-4 text-sm text-gray-800">PM</td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">150</td>
          <td class="px-6 py-4 text-sm text-gray-800">SPM</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">155</td>
          <td class="px-6 py-4 text-sm text-gray-800">HQS</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">160</td>
          <td class="px-6 py-4 text-sm text-gray-800">HRD</td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">165</td>
          <td class="px-6 py-4 text-sm text-gray-800">CS</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">170</td>
          <td class="px-6 py-4 text-sm text-gray-800">HD</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">175</td>
          <td class="px-6 py-4 text-sm text-gray-800">DGM</td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">180</td>
          <td class="px-6 py-4 text-sm text-gray-800">GM</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">190</td>
          <td class="px-6 py-4 text-sm text-gray-800">CB</td>
        </tr>

        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 text-sm text-gray-800">1000</td>
          <td class="px-6 py-4 text-sm text-gray-800">ADMIN</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
